<div id="page-content">
  <h1 class="text-center mt-4">All CoffeeCards</h1>
  <div class="container">
    <% @articles.each do |a| %>
    <%= render "shared/coffee_card", a: a %>
    <% end %>
  </div>
</div>