<div id="page-content">
  <div class="container">
    <div class="card text-center mt-4", id="new">
      <div class="card-header">
        <h1 class="text-center mt-4" , id="form-title">Create a new record</h1>
      </div>
      <div class="card-body">
        <%= render partial: "layouts/form" %>
      </div>
    </div>
  </div>
</div>