<div id="page-content">
  <h1><% @user.username %></h1>
  <div class="container">
    <%= render "user_card", user: @user, list: false %>
  </div>
  <% if @articles.count > 0 %>
  <h1 class="text-center">CoffeeCards</h1>
  <div class="container">
    <%= render "shared/pagination", model: @articles %>
    <% @articles.each do |a| %>
    <%= render "shared/coffee_card", article: a, show: false %>
    <% end %>
    <%= render "shared/pagination", model: @articles %>
  </div>
  <% end %>
</div>