<div class="pagination pagination-sm justify-content-center mt-2">
  <%= will_paginate(model, previous_label: "<--", 
      next_label: "-->", renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer ) %>
</div>