  <div id="page-content">
    <div class="container">
      <div class="jumbotron main-image">
        <h1 class="display-4"><%= t 'index.greeting' %></h1>

        <p class="lead col-9 main-text pt-2 pr-2 pt-1 pb-2"><%= t 'index.main_text' %><br />
          <%= t 'index.main_footer' %></p>

        <hr class="my-4">

        <div class="text-center">
          <%= link_to  t('index.signup_button'), signup_path, class: "btn btn-dark btn-lg" %>
        </div>
      </div>
    </div>
  </div>