  <div id="page-content">
    <div class="container">
      <div class="jumbotron main-image">
        <h1 class="display-4"><%= t 'main_page.greeting' %></h1>

        <p class="lead col-9 main-text"><%= t 'main_page.main_text' %><br />
          <%= t 'main_page.main_text_footer' %></p>

        <hr class="my-4">

        <div class="text-center">
          <%= link_to  t('main_page.signup_button'), signup_path, class: "btn btn-dark btn-lg" %>
        </div>
      </div>
    </div>
  </div>