  <div id="page-content">
    <div class="container">
      <div class="jumbotron" , id="main">
        <h1 class="display-4">Welcome to CoffeeTime blog</h1>

        <p class="lead">This is a place for putting a small piece of thoughts about life on coffee break time.<br />
          Enjoy this cozy blog.</p>

        <hr class="my-4">

        <div class="text-center">
          <%= link_to  "Sign Up!", signup_path, class: "btn btn-dark btn-lg" %>
        </div>
      </div>
    </div>
  </div>
