@import "bootstrap/dist/css/bootstrap";

/* Navbar */
.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(124, 37, 37) !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(124, 37, 37);
  text-decoration: none;
}

/* Main page */
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 425px;
  margin-top: 1em;
}

.main-text {
  background-color: black;
  opacity: 0.8;
  border-radius: 50px 15px;
}

.display-4 {
  color: white !important;
  font-weight: 600;
}

.lead {
  color: white;
  font-size: larger;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-url("main.jpg");
}

/* Buttons */
.btn-dark {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  border-radius: 15px 50px;
}

.btn-dark:hover {
  background-color: black;
  color: rgb(124, 37, 37);
}

/* General */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

/* Cards */
.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-body {
  color: rgb(211, 201, 201);
}

.card-header {
  opacity: 0.8;
  background-color: #a38971;
  color: white;
}

.card-title {
  color: rgb(124, 37, 37);
  font-size: x-large;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
}

.card-title:hover {
  color: rgb(124, 37, 37);
}

.card-text {
  opacity: 0.8;
  background-color: #42352c;
  color: white;
  border-radius: 15px 0px;
}

.card-footer {
  opacity: 0.8;
  background-color: #42352c;
  color: rgb(165, 160, 160);
  font-style: italic;
}

#show-text {
  font-family: "Lucida Sans Unicode";
  color: rgb(211, 201, 201);
}

#author-link {
  font-size: larger;
  font-family: "Lucida Sans Unicode";
  color: rgb(204, 195, 195);
  text-decoration: underline;
}

.avatar {
  border-radius: 15px;
}

/* Card's background images */
#list {
  background-image: image-url("list");
}

#new {
  background-image: image-url("new");
}

#edit {
  background-image: image-url("edit");
}

#edit_user {
  background-image: image-url("edit_user");
}

#user-profile {
  background-image: image-url("user_profile");
}

#user-card {
  background-image: image-url("user_card");
}

#show {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-url("show");
}

#signup {
  background-image: image-url("signup");
}

/* Form */
#form-title {
  font-family: "Lucida Sans Unicode";
  color: rgb(124, 37, 37);
  font-weight: bold;
}

.form-control {
  opacity: 0.8;
  background-color: #42352c;
  color: white;
  resize: none;
}

.form-group {
  font-family: "Lucida Sans Unicode";
}

.signup-label {
  background-color: #42352c;
  opacity: 0.8;
  color: rgb(211, 201, 201);
  border-radius: 15px 50px;
}

.signup-field {
  border-radius: 15px 50px;
}

/* Alert */
.alert-info {
  opacity: 0.8;
  background-color: #8a8a8a;
  color: rgb(124, 37, 37);
  border-color: black;
  font-size: larger;
  font-family: "Lucida Sans Unicode";
  font-weight: 700;
}

.close {
  text-shadow: none;
}

/* Pagination */
.pagination .active a {
  background-color: #42352c !important;
  border-color: #42352c !important;
}

.pagination .disabled a {
  background-color: #bebebe !important;
  border-color: #bebebe !important;
  opacity: 50%;
}

.page-link {
  background-color: #a38971;
  color: white;
}

.page-link:hover {
  color: black;
}
