@import 'bootstrap/dist/css/bootstrap';

.navbar{
    background-color: black !important;
   
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: rgb(124, 37, 37) !important;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: white;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: rgb(124, 37, 37);
    text-decoration: none;
}

.jumbotron{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 425px;
    margin-top: 1em;
}

.main-image{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), image-url("main.jpg");
}

.main-text{
    background-color: black;
    opacity: 0.8;
    border-radius: 50px 15px;
}

.display-4{
    color: white !important;
    font-weight: 600;
}

.lead{
    color: white;
    font-size: larger;
}

.btn-dark{
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    border-radius: 15px 50px
}

.btn-dark:hover{
    background-color: black;
    color: rgb(124, 37, 37);
}

html,
body{
    height: 100%;
}

#page-content{
    flex: 1 0 auto;
    background-color: lightgrey;
}

#sticky-footer{
    flex-shrink: none;
}

.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-body{
    color: rgb(211, 201, 201);
}

.card-header{
    opacity: 0.8;
    background-color:#a38971;
    color: white;
}

.card-text{
    opacity: 0.8;
    background-color:#42352c;
    color: white;
    border-radius: 15px 50px;
}

.card-footer{
    opacity: 0.8;
    background-color:#42352c;
    color: rgb(165, 160, 160);
    font-style: italic;
}

#list{
    background-image: image-url('list');
}

#new{
    background-image: image-url('new');
}

#edit{
    background-image: image-url('edit');
}

#edit_user{
    background-image: image-url('edit_user');
}

#user-profile{
    background-image: image-url('user_profile');
}

#user-card{
    background-image: image-url('user_card');
}

#show{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), image-url('show');
}

#signup{
    background-image: image-url('signup');
}

#title{
    text-decoration: none;
    color: rgb(124, 37, 37);
    font-size: x-large;
    font-weight: bold;
}

#title:hover{
    color: white;
}

#form-title{
    font-family: "Lucida Sans Unicode";
    color: rgb(124, 37, 37);
    font-weight: bold;
}

.form-control{
    opacity: 0.8;
    background-color:#42352c;
    color: white;
}

.form-group{
    font-family: "Lucida Sans Unicode";
}

.alert-info{
    opacity: 0.8;
    background-color:#8a8a8a;
    color: rgb(124, 37, 37);
    border-color: black;
    font-size: larger;
    font-family: "Lucida Sans Unicode";
    font-weight: 700;
}

.close{
    text-shadow: none;
}

#show-header{
    color: rgb(124, 37, 37);
    font-size: x-large;
    font-weight: bold;
    font-family: "Lucida Sans Unicode";
}

#show-text{
    font-family: "Lucida Sans Unicode";
    color: rgb(211, 201, 201);
}

.signup-label{
    background-color: #42352c;
    opacity: 0.8;
    color: rgb(211, 201, 201);
    border-radius: 15px 50px
}

.signup-field{
    border-radius: 15px 50px;
}

#author-link{
    font-size: larger;
    font-family: "Lucida Sans Unicode";
    color: rgb(204, 195, 195);
}

.avatar{
    border-radius: 15px;
}

.user-title{
    opacity: 0.9;
    color: rgb(124, 37, 37);
    font-weight: bold;
    font-family: "Lucida Sans Unicode";
    text-decoration: none;
}




