<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
  <div class="container text-center">
    <small>
      Copyright @
      <a href="https://by.linkedin.com/in/ekaterina-balabanovich-13a116194", class="footer-link">miseinen</a>
    </small>
  </div>
</footer>